@model IEnumerable<MobileShop.Models.User>
@{
    ViewBag.Title = "UserSort";
}

<div>
    <table>
        <tr>
            <td>Id</td>
            <td>User Name</td>
            <td>PassWord</td>
            <td>Name</td>
            <td>Date Of Birth</td>
            <td>Phone</td>
            <td>Address</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.UserName</td>
                <td>@item.Password</td>
                <td>@item.FullName</td>
                <td>@item.DateOfBirth</td>
                <td>@item.Phone</td>
                <td>@item.Address</td>
            </tr>
        }

    </table>
</div>

